################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/LC2_GUI/v15
/LC2_GUI/Debug
/Debug
/LC2_GUI/x64/Debug
/x64/Debug
